aside{
  width: 700px;
  height: 100hvw;
  box-sizing: border-box;
  padding: 80px;
  display: flex;
  align-items:baseline;
  flex: 1;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

nav{
  background-color: #FBF0DC;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 80px;
}

.logo{
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  width: 300px;
}
ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-right: 30px;
  font-size: 1.5rem;
}
.texto{
  padding:  30px;
  border: 2px solid;

}
.img2{
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 50px;
}

.img2 img{
width: 560px;
height: 300px;
}
.container{
  display: flex;
  justify-content: center;

}

